/* div {
    border: 1px solid black;
} */

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

h1 {
    font-size: 100px;
    color: #ecf1eb;
    font-family: Bebas Neue;
    width: 100%;
}

h1:hover {
    background-color: #ecf1eb;
    color: #3e8ca2;
    transform: translate(10px);
    box-shadow: 5px 5px #ecf1eb83;
    text-shadow: 5px 5px #3e8ca231;
}

h2 {
    font-size: 30px;
    color: #ecf1eb;
    font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 992px) {
    h2 {
        font-size: 22px;
    }
    h1 {
        font-size: 62px;
    }
}

p {
    font-size: 18px;
    color: #ecf1eb;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    text-align: center; 
}

body {
    background-color: #3e8ca2;
}

hr {
    border: solid 2px #4d94a8;
}

textarea {
    background-color: #3e8ca2;
    border: 2px solid #ecf1eb;
    width: 100%;
    color: #ecf1eb;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    height: 70px;
    border-radius: 8px;
    text-align: center;
}

textarea:hover {
    background-color: #4d94a8;  
    color: #ffffff;
    opacity: 0.5;
}

::placeholder.hover {
    color: #3e8ca2;
  }

  ::selection {
    background: #eba5a5;; /* WebKit/Blink Browsers */
  }

input {
    background-color: #3e8ca2;
    border: 1px solid #ecf1eb;
    width: 100%;
    color: #ecf1eb;
    border-radius: 8px;
}

::placeholder {
    color: #ecf1eb;

  }

.rowboat1, .rowboat2, .rowboat3, .rowboat4 {
    border: 1px dashed #ecf1eb;
}

.rowboat1 {
    border-radius: 8px 0px 0px 0px;
    
}

.rowboat2 {
    border-radius: 0px 0px 0px 8px;
}

.rowboat3 {
    border-radius: 0px 8px 0px 0px;
}

.rowboat4 {
    border-radius: 0px 0px 8px 0px;
}

.rowboat1:hover, .rowboat2:hover, .rowboat3:hover, .rowboat4:hover {
    background-color: #4d94a8;
}

.rowboat1:click, .rowboat2:click, .rowboat3:click, .rowboat4:click {
    background-color: #a54da8;
}

button {
    width: 38%;
    background-color: #3e8ca2;
    border: 2px solid #ecf1eb;
    color: #ecf1eb;
    margin: 2% 5% 0 5%;
    padding: 0;
    border-radius: 10px;
    height: 60px;
}

button:hover {
    background-color: #ecf1eb;
    color: #3e8ca2;
    transition: all 0.5s;
}

button:active {
    background-color: #ecf1eb;
    color: #3e8ca2;
}

.checkboxpadding {
    max-resolution: 0 0 3px 0;
}